Source: ros-kinetic-qb-device-control
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-catkin, ros-kinetic-control-msgs, ros-kinetic-controller-manager, ros-kinetic-qb-device-hardware-interface, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/qb_device_control
Standards-Version: 3.9.2

Package: ros-kinetic-qb-device-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-control-msgs, ros-kinetic-controller-manager, ros-kinetic-qb-device-hardware-interface, ros-kinetic-roscpp
Description: This package contains a device-independent control library for qbrobotics® devices.
