Source: ros-kinetic-qb-device-driver
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-qb-device-srvs, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/qb_device_driver
Standards-Version: 3.9.2

Package: ros-kinetic-qb-device-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-qb-device-srvs, ros-kinetic-roscpp
Description: This package contains a device-independent API wrapper for qbrobotics® devices.
