Source: ros-kinetic-qb-device-description
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/qb_device_description
Standards-Version: 3.9.2

Package: ros-kinetic-qb-device-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package contains a device-independent description utilities for qbrobotics® devices.
